//- extends layout

block content
  h1= title

form(action="/new", method="POST") 
  label(for="messageUser") Author Name: 
  input#messageUser(type="text", name="")
  label(for="messageText") Message Text: 
  input#messageText(type="text", name="")
  button(type="submit") Send



